<!--Adding page-->
<!--Title: User Story Manager  - Add new Story-->
<!--localhost:port/story-->
<!--Adding newly generated User Stories-->
<!--No default values.-->
<!--POST-->

<!--Editor page-->
<!--Title: User Story Manager  - Edit Story-->
<!--localhost:port/story/<story_id>-->
<!--Allows to edit previously created User Stories-->
<!--PUT-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Sprint reporter</title></head>

    <body>
    <form action="/story" method="post">
        <h2>User Story Manager - {{ title }}</h2>


            <label for="story_title">Story Title</label>
            <p><input name="story_title"
                      id="story_title"
                      size="78"></p>

            <label for="story_content">User Story</label>
            <p><textarea name="story_content"
                         id="story_content"
                         rows="5"
                         cols="60"></textarea></p>

            <label for="acceptance_criteria">Acceptance Criteria</label>
            <p><textarea name="acceptance_criteria"
                         id="acceptance_criteria"
                         rows="7"
                         cols="60"></textarea></p>

            <label for="business_value">Business Value</label>
            <p><input type="number"
                      name="business_value"
                      id="business_value"
                      step="100"
                      min="100"
                      max="1500"></p>

            <label for="estimation">Estimation (h)</label>
            <p><input type="number"
                      name="estimation"
                      id="estimation"
                      step="0.5"
                      min="0.5"
                      max="40"></p>


            <label for="status">Status</label>
            <p><select name="status"
                       id="status">
                <option>Planning</option>
                <option>To Do</option>
                <option>In Progress</option>
                <option>Review</option>
                <option>Done</option></select></p>

            <label for="save"><button id="save"
                                      type="submit">Save</button></label>
        </form>

    </body>
</html>